@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

h1, h2, h3, h4, h5, p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


.card {
   box-shadow: 2px 5px 19px 0px rgba(0, 0, 0, 0.39);
}

.card {
  box-sizing: border-box;
  background-clip: padding-box;
  height: 100%;
}
.card .card-content {
  padding: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  height: 100%;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
